:root {
    --primary: #4B0081;
    --secondary: #6FB018;

    --footer-bg: #200036;
    
    --white: #FFFFFF;
    --off-white: #FAFAFA;
    --black: #000000;

    --grey: #7E7E7E
}

.text-grey { color: var(--grey); }
.btn-padding { padding: 12px 30px; }
.btn-primary { background-color: var(--primary); color: var(--white); }
.btn-white { background-color: transparent; color: var(--black); border: 1px solid var(--black); }

/* HEADER */
.navbar-wrapper { padding: 30px 0; }
.navbar-wrapper { display: flex; align-items: center; justify-content: space-between; }
.navbar-links { display: flex; align-items: center; gap: 60px; }
.navbar-links ul { display: flex; gap: 40px; }
.nav-signup { padding: 12px 30px; background-color: var(--primary); color: var(--white); }


/* FOOTER */
.footer { padding: 40px 0; background-color: var(--footer-bg); color: var(--off-white); }
.comp-intro { width: 330px; }
.footer-wrapper{ display: flex; justify-content: space-between; }
.footer-links { display: flex; gap: 50px; }
.quick-links { width: 280px; }
.quick-links p { margin-bottom: 16px; }
.quick-links ul { display: flex; flex-direction: column; gap: 8px; }
.email-info { display: flex; align-items: center; text-align: center; gap: 8px; }
.quick-links ul li a:hover { text-decoration: underline; }
.copyright { display: flex; justify-content: center; }
.copyright-box { width: 1216px; margin-top: 40px; padding-top: 30px; border-top: 1px solid #B8B8B8; display: flex; justify-content: center; gap: 30px; }


/* HOME PAGE */
.hm-hero { min-height: 100vh; height: auto; background-image: url('/images/homepage/hero-background.webp'); }
.hm-hero-content { padding-top: 100px; }
.hm-hero-content p { width: 1115px; margin: 0 auto; margin-top: 20px; margin-bottom: 40px; }
.hm-hero-btns { display: flex; align-items: center; justify-content: center; }
.hm-hero-btns .btn-primary { margin-right: 20px; }


/* AboutUS-page */
.abt-hero {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 700px;
    background: linear-gradient(rgba(237, 230, 242, 0.8), rgba(255, 255, 255, 0.8)), url('/images/aboutUs/hero-background-img.webp') center/cover no-repeat;
}
.hero-wrapper{display: flex; justify-content: space-between; }
.hero-head{ display: flex; flex-direction: column; gap: 20px; justify-content: center; width: 900px; }
.hero-head h1{ width: 100%; }
.hero-head span{ color: var(--primary); }
.hero-head p{ color: rgba(126, 126, 126, 1); margin-bottom: 20px; }
.hero-head-button button{ width: 210px; height: 52px; border-radius: 10px; background: var(--primary); color: var(--white); }
