:root {
    --primary: #4B0081;

    --footer-bg: #200036;
    
    --white: #FFFFFF;
    --off-white: #FAFAFA;
    --black: #000000;
}

/* HEADER */
.navbar-wrapper { padding: 30px 0; }
.navbar-wrapper { display: flex; align-items: center; justify-content: space-between; }
.navbar-links { display: flex; align-items: center; gap: 60px; }
.navbar-links ul { display: flex; gap: 40px; }
.nav-signup { padding: 12px 30px; background-color: var(--primary); color: var(--white); }


/* FOOTER */
.footer { padding: 40px 0; background-color: var(--footer-bg); color: var(--off-white); }
.comp-intro { width: 330px; }
.footer-wrapper{ display: flex; justify-content: space-between; }
.footer-links { display: flex; gap: 50px; }
.quick-links { width: 280px; }
.quick-links p { margin-bottom: 16px; }
.quick-links ul { display: flex; flex-direction: column; gap: 8px; }
.email-info { display: flex; align-items: center; text-align: center; gap: 8px; }
.quick-links ul li a:hover { text-decoration: underline; }
.copyright { display: flex; justify-content: center; }
.copyright-box { width: 1216px; margin-top: 40px; padding-top: 30px; border-top: 1px solid #B8B8B8; display: flex; justify-content: center; gap: 30px; }

/* AboutUS-page */

/* hero-section */
.Hero {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 700px;
    background: linear-gradient(rgba(237, 230, 242, 0.8), rgba(255, 255, 255, 0.8)), url('/images/aboutUs/heroImg.webp') center/cover no-repeat;
}
.hero-wrapper{display: flex; justify-content: space-between; }
.hero-head{ display: flex; flex-direction: column; gap: 20px; justify-content: center; width: 900px; }
.hero-head h1{ width: 100%; }
.hero-head span{ color: var(--primary); }
.hero-head p{ color: rgba(126, 126, 126, 1); margin-bottom: 20px; }
.heroHeadBtn button{ width: 210px; height: 52px; border-radius: 10px; background: var(--primary); color: var(--white); }

/* mission section */
.mission-section{ margin: 100px 0; }
.mission-main{ display: flex; justify-content: space-between; align-items: center; }
.mission-heading{ display: flex; flex-direction: column; gap: 25px; }
.mission-heading h2{ width: 70%; }
.missionSvg{ margin-bottom: 10px; }
.mission-heading p{ width: 60%; color: rgba(126, 126, 126, 1); }
.Cards{ display: flex; flex-direction: column; gap: 40px; }
.card-rw-1{ display: flex; gap: 40px; }
.card-1{ display: flex; flex-direction: column; gap: 15px; border-right: 4px solid rgba(172, 138, 197, 1); border-radius: 10px; padding: 20px; }
.card-1 p + p{ color: rgba(126, 126, 126, 1); }

/* vision section */

.our-vision-main{ margin: 100px 0; }
.our-vision{ display: flex; align-items: center; gap: 40px; }
.our-vision-cards{ display: flex; flex-direction: column; gap: 40px; }
.vision-card-r1{ display: flex; gap: 30px; }
.vision-card1{ display: flex; flex-direction: column; width: 376px; gap: 15px; border-left: 4px solid rgba(189, 219, 149, 1); border-radius: 10px; padding: 20px; }
.vision-img{ margin-bottom: 10px; }
.vision-card1 p + p{ color: rgba(126, 126, 126, 1); }
.vision-heading{ display: flex; flex-direction: column; align-items: flex-start; gap: 25px; width: 692px;  }

/* our platform */

.our-platforms{  display: flex; gap: 84px; margin: 100px 0px;background-color: rgba(254, 228, 210, 1);  border-radius: 10px; position: relative; padding: 100px 0px; overflow: hidden; }
.platform-images{ display: flex; }
.image-1{ transform: translate(30%, 60%); z-index: 1; }
.image-2{ transform: translateY(31%); }
.ourPlatformText{ display: flex; flex-direction: column; gap: 10px; }
.ourPlatformText h2{ width: 70%; }
.ourPlatformText p{ width: 70%; color: rgba(126, 126, 126, 1); }
.platformtools{ display: flex; gap: 100px; margin-top: 20px; }
.platformtools ul li{ display: flex; align-items: center; gap: 12px; margin-bottom: 14px; }
.platformtools ul li p{ width: 100%; }
.platform-btn button{ margin-top: 40px; background-color: var(--primary); color: var(--white); width: 160px; height: 52px; border-radius: 10px; }

/* core features */
.core-feature-section{ margin: 100px 0px; }
.core-feature-heading{ display: flex; align-items: flex-start; justify-content: space-between; gap: 105px; }
.core-feature-heading p{ width: 70%; color: rgba(126, 126, 126, 1); }
.feature-cards{ display: flex; margin-top: 60px; gap: 20px; }
.featurecard-1{ width: 380px; height: 388px; background-color: rgba(245, 247, 255, 1); border-radius: 10px; padding: 20px; }
.featurecard-2{ background-color: rgba(246, 251, 246, 1); }
.featurecard-3{ background: rgba(255, 252, 245, 1); }
.featurecard-4{ background-color: rgba(248, 246, 255, 1); }
.Frame1 p{ margin-top: 30px; padding-bottom: 20px; border-bottom: 1px solid rgba(205, 216, 255, 1); }
.feature-lists ul{ margin-top: 20px; display: flex; flex-direction: column; gap: 10px; color: rgba(126, 126, 126, 1); }
.Frame2 p{ border-bottom: 1px solid rgba(209, 234, 211, 1); }
.Frame3 p{ border-bottom: 1px solid rgba(255, 239, 205, 1); }
.Frame4 p{ border-bottom: 1px solid rgba(221, 210, 254, 1); } 