@media (pointer: coarse) {}

@media screen and (min-width: 1360px) {
    .container { max-width: calc(1240px  + 36px); }
}
/*MIN 1360 ENDS*/

@media screen and (min-width: 1440px) {
    .container { max-width: calc(1364px + 36px); }
}
/*MIN 1440 ENDS*/

@media screen and (min-width: 1600px) {
    .container { max-width: calc(1400px + 36px); }
}
/*MIN 1600 ENDS*/

@media screen and (min-width: 1800px) {
    .container { max-width: calc(1600px + 36px); }
}
/*MIN 1800 ENDS*/


/*
********
*/

@media screen and (max-width: 1900px) {}

@media screen and (max-width: 1799px) {}

@media screen and (max-width: 1599px) {}

@media screen and (max-width: 1560px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1359px) {}

@media screen and (max-width: 1279px) {}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 680px) {}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 459px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 374px) {}

@media screen and (max-width: 359px) {}