@media (pointer: coarse) {}

@media screen and (min-width: 1360px) {
    .container { max-width: calc(1240px  + 36px); }
}
/*MIN 1360 ENDS*/

@media screen and (min-width: 1440px) {
    .container { max-width: calc(1364px + 36px); }
}
/*MIN 1440 ENDS*/

@media screen and (min-width: 1600px) {
    .container { max-width: calc(1400px + 36px); }
}
/*MIN 1600 ENDS*/

@media screen and (min-width: 1800px) {
    .container { max-width: calc(1600px + 36px); }
}
/*MIN 1800 ENDS*/


/*
********
*/

@media screen and (max-width: 1900px) {

    /* userAccess page */
    .user-access-hero-wrapper{ justify-content: space-between; }

    /* compliance page */
} 

@media screen and (max-width: 1799px) {
    h1, .h1{ font-size: 70px; line-height: 80px; }


    .abt-hero-wrapper, .mis-vis-section{ gap: 50px; } 
    .our-platforms{ padding-bottom: 50px; }
    /* .platform-images{ transform: translateY(15%); bottom: -30px; } */
    .featurecard{ width: 330px; }
    .mis-vis-heading{ width: max-content; }
    .mis-vis-cards{ gap: 30px; }

    /* userAccess page */
    .role-account-admin{ width: 100%; }
    .account-admin-main-text{ width: 600px; }
    .account-admin-pointers{ width: 100%; }
    /* .secure-portal-text h2{ width: 100%; } */

    /* compliance page */

    .banner-head{ width: 825px; }
    .compliance-matters-section{ gap: 40px; }
    .compliance-matters-text{ width: 878px; }
    .hipaa-card, .fda_card, .annex_11_card, .gdpr_card, .gcp_card, .cdsco_card{ width: 680px; height: auto; }
}


@media screen and (max-width: 1599px) {
    .core-feature-heading p { width: 748px; }
    .our-platforms { height: 563px; }

    /* userAccess page */
    .roles-images img{ width: 400px; }
    .account-admin-main-text{ width: 680px; }

    /* compliance page */

    .com-page-banner img{ width: 602px; }
}

@media screen and (max-width: 1560px) {


    /* .core-feature-heading h2 { width: 430px; } */
    .mis-vis-heading{ width: 100%; }
    .footer-links{ gap: 30px; }
    .quick-links{ width: 200px; }
    .core-feature-section { padding-bottom: 0; }

    /* userAccess page */


    /* compliance page */
    .com-page-banner img{ width: 527px; }
}

@media screen and (max-width: 1440px) {
    h1, .h1  { font-size: 64px; line-height: 74px; }
    h3, .h3  { font-size: 38px; line-height: 48px; }
    .text-20 { font-size: 18px; line-height: 28px; }

    .our-platforms{ height: max-content; }

    /* userAccess page */
    .roles-images img{ width: 360px; }
    .account-admin-main-text{ width: 670px; }
    .secure-portal-text p{ width: 630px; }
    .path-1, .path-2, .path-3, .path-4{ width: 420px; }
    .path-2{ bottom: 22px; }

    /* compliance page */
    .compliance-matters-text{ width: 823px; }
}

@media screen and (max-width: 1359px) {
    h1, .h1 { font-size: 62px; line-height: 72px; }
    h3, .h3 { font-size: 34px; line-height: 42px; }
    .text-20 { font-size: 18px; line-height: 28px; }

    .our-platforms { height: 565px; gap: 35px; }
    .core-feature-heading{ gap: 50px; }
    .footer-wrapper{ justify-content: space-around; }
    
    /* userAccess page */
    .path-1, .path-2, .path-3, .path-4{ width: 350px; }
    .path-2{ bottom: 35px; }
    .path-3{ top: 15px; }
    .path-4{ right: 0; }

    /* compliance page */
    .banner-head{ width: 763px; }
    .com-page-banner img{ width: 465px; }
    .hipaa-card, .fda_card, .annex_11_card, .gdpr_card, .gcp_card, .cdsco_card{ width: 602px; }
}

@media screen and (max-width: 1279px) {
    h1, .h1 { font-size: 52px; line-height: 62px; }
    .text-20 { font-size: 18px; line-height: 28px; }
    .text-18 { font-size: 14px; line-height: 24px; }
    p { font-size: 16px; line-height: 26px; }


    .abt-hero { padding: 50px 0; }
    .featurecard { width: 296px; height: 370px; }
    .mis-vis-section { flex-direction: column; align-items: center; gap: 40px; }
    .mis-vis-heading { display: flex; width: 100%; align-items: center; justify-content: space-between; gap: 20px; flex-direction: column; text-align: center;  }
    .mis-vis-heading img{ display: none; }
    .mis-vis-cards { gap: 0px; justify-content: space-around; }
    .mis-vis-card { width: 340px; padding: 10px; margin-bottom: 30px; }
    .mis-vis-heading p { margin-top: 0; margin-bottom: 0; width: 650px; }
    .mis-vis-card img { width: 30px; height: auto; }
    .mis-vis-card { padding-right: 20px; height: 200px; }
    .vis-card{ padding-left: 20px; }
    .our-platforms{ height: auto; padding: 60px 50px 0; flex-direction: column-reverse; align-items: center; justify-content: center; }
    .our-platform-text { width: 100%; height: auto; }
    .our-platform-text h2, .our-platform-text p{ width: 100%; }
    .platform-tools{ gap: 50px; }
    .platform-images{ transform: translateY(0); }
    .core-feature-heading{ flex-direction: column; align-items: center; text-align: center; gap: 20px; }
    .core-feature-heading h2, .core-feature-heading p{ width: 100%; }
    .quick-links{ width: max-content; }

    /* userAccess page */
    .user-access-hero-wrapper{ gap: 20px; }
    .role-account-admin{ gap: 40px; }
    .account-admin-main-text{ width: 450px; }
    .role-account-admin img{ width: 365px; }
    .secure-portal-text h2, .secure-portal-text p{ width: 454px; }
    .path-line{ width: 988px; }
    .secure-portal-wrapper{ height: 700px; }
    .path-1, .path-2, .path-3, .path-4{ width: 300px; }
    .path-2{ left: 22% ; bottom: 33px; }

    /* compliance page */
    /* .card-1 h2{ font-size: 48px; line-height: 58px; } */
    .compliance-matters-text{ width: 620px; }
    .hipaa-card, .fda_card, .annex_11_card, .gdpr_card, .gcp_card, .cdsco_card{ width: 474px; }
}

@media screen and (max-width: 1199px) {
    h2, .h2{ font-size: 32px; line-height: 42px; }
    h3, .h3{ font-size: 28px; line-height: 38px; }
    .text-20{ font-size: 18px; line-height: 24px; }


    .mis-vis-heading{ align-items: center; flex-direction: column; gap: 20px; text-align: center; }
    .quick-links{ width: max-content; }
    .core-feature-heading{ flex-direction: column; gap: 20px; align-items: center; text-align: center; }
    .core-feature-heading h2, .core-feature-heading p{ width: 100%; }
    .core-feature-section, .mis-vis-section{ margin: 50px 0; }
    /* .mis-vis-heading p, .core-feature-para, .feature-card-head, .platform-para, .mis-vis-para{ font-size: 18px; line-height: 28px; } */
    .footer-links{ gap: 50px; }

    /* userAccess page */
    .footer-wrapper{ justify-content: space-between; }
    .path-4{ bottom: 15px; }

    /* compliance page */

} 

@media screen and (max-width: 1024px) {
    h1, .h1{ font-size: 44px; line-height: 54px; }


    .abt-hero-head{ width: 550px; }
    .platform-images{ width: 717px; }
    .footer-links{ gap: 50px; }

    /* userAccess page */
    .path-line{ width: 100%; }
    .path-2{ bottom: 0; }
    .secure-portal-wrapper{ height: 640px; }

    .account-admin-main-text{ width: 100%; }

    /* compliance page */


}

@media screen and (max-width: 991px) {
    /* h4, .h4{ font-size: 28px; line-height: 38px; } */
    .text-20{ font-size: 16px; line-height: 26px; }

    .navbar-links{ display: none; }
    .abt-hero, .user-access-hero, .com-hero{ height: max-content; }
    .abt-hero-wrapper{ flex-direction: column; text-align: center; width: 100%; align-items: center; }
    .abt-hero-head{ width: 100%; }
    .core-feature-heading{ align-items: flex-start; text-align: start; }
    .our-platform-text{ padding: 0; }
    .platform-images{ width: 655px; padding-bottom: 0; }
    .footer-wrapper{ flex-wrap: wrap; gap: 50px; }

    /* userAccess page */
    .user-access-hero-wrapper{ flex-direction: column; text-align: center; padding: 50px; gap: 40px;  }
    .user-access-hero-head{ width: 100%; }
    .role-account-admin img{ width: 250px; }
    .account-admin-main-text{ width: 345px; }
    .path-1, .path-2, .path-3, .path-4{ width: 237px; }
    .path-3{ top: 20px; transform: translateY(-40%); }
    .secure-portal-wrapper{ height: 650px; }
    .secure-portal-text{ flex-direction: column; width: 100%; gap: 40px; }
    .secure-portal-text h2, .secure-portal-text p{ width: 100%; text-align: center; }

    /* compliance page */
    .com-hero{ padding: 50px 0; }
    .com-page-banner{ flex-direction: column; align-items: center; }
    .banner-head{ width: 100%; text-align: center; }
    .compliance-matters-section{ flex-direction: column; }
    .compliance-matters-text{ width: 100%; }
    .hipaa-card, .fda_card, .annex_11_card, .gdpr_card, .gcp_card, .cdsco_card{ width: 346px; }
}

@media screen and (max-width: 767px) {
    h1, .h1{ font-size: 36px; line-height: 46px; }
    h3, .h3{ font-size: 26px; line-height: 36px; }
    .text-20{ font-size: 14px; line-height: 24px; }

    .abt-hero-wrapper{ flex-direction: column; }
    .abt-hero-head{ width: 100%; text-align: center; }
    .platform-images{ width: 522px; }
    .mis-vis-heading p{ width: 100%; }
    .mis-vis-card-lists{ width: 100%; }
    .mis-vis-cards{ flex-direction: column; align-items: center; }
    .core-feature-section{ padding-bottom: 0; }
    .our-platform-text{ padding: 0; }
    .copyright-box{ flex-wrap: wrap; }

    /* userAccess page */
    .path-line{ display: none; }
    .path-images{ flex-wrap: wrap; gap: 40px; align-items: center; justify-content: center; }
    .path-1, .path-2, .path-3, .path-4{ position: static; }
    .path-3{ transform: translateX(0); }
    .path-4{ transform: translateY(0); }
    .secure-portal-wrapper{ height: max-content; }
    
    /* .path-1, .path-2, .path-3, .path-4{ display: none; } */
    .role-account-admin{ height: max-content; flex-direction: column-reverse; align-items: flex-start; }
    .account-admin-main-text{ width: 100%; }

    /* compliance page */
    .compliace-card-heading-text h2{ font-size: 22px; line-height: 32px; }
    .hipaa-card, .fda_card, .annex_11_card, .gdpr_card, .gcp_card, .cdsco_card{ width: 282px; }
}

@media screen and (max-width: 680px) {
    h3, .h3{ font-size: 38px; line-height: 48px ; }
    .text-20{ font-size: 16px; line-height: 26px; }
    p{ font-size: 14px; line-height: 24px; }

    .abt-hero-wrapper{ flex-direction: column; align-items: center; }
    .abt-hero-head{ width: 100%; text-align: center; }
    .mis-vis-heading, .core-feature-heading{text-align: left; align-items: start; }
    .mis-vis-card{ width: 100%; }
    .our-platforms{ margin: 50px 0; }
    .footer-links{ flex-direction: column; }

    /* userAccess page */

    .user-access-hero-wrapper{ flex-direction: column; text-align: center; gap: 40px; }
    .roles-card-section{ margin-top: 0; }
    .secure-portal-wrapper{ height: max-content;  }
        .path-1, .path-2, .path-3, .path-4{ width: 249px; }

    /* compliance page */



}

@media screen and (max-width: 575px) {
    .swiper-slide, .swiper-slide-active{ width: 314px !important; }
    .primary-box-shadow{ box-shadow: -4px 0 0 0 var(--primary); }

    /* userAccess page */
    .role-account-admin img{ width: 235px; }



    /* compliance page */
    .com-page-banner img{ width: 400px; }
}

@media screen and (max-width: 480px) {
    .abt-hero-wrapper, .mis-vis-section{ gap: 30px; }
    .platform-images{ width: 100%; }
    .footer-wrapper{ flex-wrap: wrap; gap: 30px; }
    .copyright-box{ flex-wrap: wrap; }

    /* userAccess page */


    /* compliance page */
    .com-page-banner img{ width: 370px; }
    .surety-count-cards{ flex-direction: column; gap: 20px; }
    .compliance-matters-card-list{ flex-direction: column; }
    .hipaa-card, .fda_card, .annex_11_card, .gdpr_card, .gcp_card, .cdsco_card{ width: 100%; }
}

@media screen and (max-width: 459px) {
    h1, .h1{ font-size: 32px; line-height: 42px; }    
    h2, .h2{ font-size: 28px; line-height: 38px; }
    h3, .h3{ font-size: 26px; line-height: 36px; }
    h4, .h4{ font-size: 24px; line-height: 34px; }

    /* userAccess page */
    .user-access-hero-wrapper{ padding: 50px 18px; }
    .roles-card-section{ margin-top: 60px; }
    .role-account-admin{ margin-bottom: 60px; }


    /* compliance page */
}

@media screen and (max-width: 400px) {
    .mis-vis-heading, .core-feature-heading{text-align: left; align-items: start; }
    .abt-hero-wrapper, .mis-vis-section{ gap: 20px; }
    .our-platforms{ padding: 30px 30px 0; }
    .platform-btn{ margin-top: 30px; }
    .platform-tools{ gap: 30px;}

    /* userAccess page */


    /* compliance page */
        .com-page-banner img{ width: 275px; }
    .compliance-matters-main{ margin-top: 60px; }
}

@media screen and (max-width: 374px) {
    .mis-vis-card{ width: 100%; }

    /* userAccess page */


    /* compliance page */
}

@media screen and (max-width: 359px) {
    .swiper-slide, .swiper-slide-active{ width: 290px !important; }

    /* userAccess page */



    /* compliance page */
}